@import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&display=swap');


body {
	color: deeppink;
	background-color:blanchedalmond;
	font-family: "Mystery Quest", system-ui;
	font-size: 20px;
}

a {
	color: firebrick;
}

h1 {
	font-family: Verdana, Arial Black;
	border: 5px dotted silver;
	padding: 1em;
}

p {
	font-size: 1.5em;
}
#container {
	margin: 0 auto;
	width: fit-content;
	text-align: center;
}

img {
    width: 50%;
    border-radius: 10px;
}

